@model FacebookClone.Models.User
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Navbar")

<div class="container profile">

    <div class="card">
        
        <div class="flex-center">
            <a class="user user-2">
                <div class="avatar avatar-3" style="margin-bottom: 16px">
                    <img src="@Url.Content(Model.ProfileImageURL)" alt="">
                </div>
            </a>

            <div class="heading">
                <h1 style="color: var(--black-clr)">@Model.FirstName @Model.LastName</h1>
                <p class="display-2">@Model.Email</p>
            </div>

            <div class="btn-group" style="margin: 0px 0px 24px 0px">
                <a href="~/User/UserPosts/@ViewBag.uid" class="btn btn-2">
                    <i class="ri-article-line"></i>
                    <small>@ViewBag.Posts</small>
                </a>
                <a href="~/User/Friends/@ViewBag.uid" class="btn btn-2">
                    <i class="ri-group-line"></i>
                    <small>@ViewBag.Friends</small>
                </a>
            </div>

            <div class="btn-group">
                <a href="~/User/EditProfile" class="btn btn-1">
                    <i class="ri ri-user-settings-line"></i>
                    <small>Edit Profile</small>
                </a>
            </div>
            <div class="btn-group" style="margin-top: 16px">
                <a href="@Request.UrlReferrer" class="btn btn-1" style="margin-bottom: 32px;">
                    <i class="ri ri-arrow-left-line"></i>
                    <span>Go back</span>
                </a>
            </div>

        </div>

    </div>

</div>

